@import url("https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@500;700&family=Anek+Tamil:wght@500;700&family=Anek+Telugu:wght@500;700&family=Hind:wght@500;700&family=Inconsolata&family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.past {
  height: 220vh;
  overflow-y: hidden;
  background-color: #001011;
  padding: 5% 5%;
}

.past h1 {
  height: 40vh;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 6vw;
  text-align: center;
  overflow-y: hidden;
}

.past p {
  height: 50vh;
  padding-bottom: 0%;
  padding-top: 0%;
  color: #FFFFFF;
  font-size: 3vw;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
}

.past :nth-child(4) {
  height: 80vh; /* Third paragraph is big so had to adjust the height */
}

.present {
  background-color: #FFFFFF;
  color: #001011;
  height: 350vh;
  overflow-y: hidden;
}

.present p {
  height: 60vh;
  font-size: 3vw;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
  padding: 5% 5%;  
}

.present h3 {
  font-weight: 700;
  font-size: 5vw;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.present :nth-child(4) {
  height: 60vh;
}

/* Scroll to top */

/* Scroll to top button */

.scroll-to-top {
  position: fixed;
  bottom: 1%;
  right: 1%;
  display: none;
  width: 3rem;
  height: 3rem;
  background-color: #001011;
  color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  z-index: 9999;
  overflow-y: hidden;
  border: 5px solid #FFFFFF;
}

.scroll-to-top:hover {
  background-color: #FFFFFF;
  color: #001011;
  border: #001011 5px solid;
}

/* Calculator */

.calculator {
  height: 280vh;
  overflow-y: hidden;
  background-color: #001011;
  padding: 5% 5%;
}

.calculator h1 {
  height: 30vh;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 6vw;
  text-align: center;
  overflow-y: hidden;
  padding-bottom: 0%;
}  

.calculator p {
  height: 40vh;
  padding-bottom: 0%;
  padding-top: 0%;
  color: #FFFFFF;
  font-size: 3vw;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
}

.calculator input {
  background-color: #FFFFFF;
  width: 6vw;
  height: 2vh;
}

.input-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 0%;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
}

input[type="number"] {
  width: 100%;
  height: 5vh;
  padding: 1.5%;
}

.button-group {
  text-align: center;
}

button {
  padding: 10% 15%;
  margin-right: 10%;
}

#converted-results {
  margin-top: 0%;
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .scroll-to-top {
    right: 40px;
  }
}

@media screen and (min-width: 992px) {
  .scroll-to-top {
    right: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .scroll-to-top {
    right: 80px;
  }
}

.scroll-to-top.active {
  display: block;
}

/* Adjusting height in mobile view */

@media (max-width: 768px) {

    .past {
        width: auto;
        height: 80vh;
    }

    .past h1 {
        height: 10vh;
    }

    .past p {
        height: 15vh;
    }

    .past :nth-last-child() {
        height: 25vh;
    }


    .present {
        width: auto;
        height: 100vh;
    }

    .present h1 {
        height: 10vh;
    }

    .present :nth-child(4) {
        height: 20vh;
    }

    .present p {
        height: 15vh;
    }

}

/* Download Button */

.btn {
  display: inline-block;
  padding: 0.5% 1.7%;
  border: 0.1% solid #001011;
  margin: 5% 0%;
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: 5%;
  margin-bottom: 0%;
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #001011;
  text-align: center;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #FFFFFF;
  color: #001011;
  border: 1px solid #001011;
}

