* { /* Universal Selector (This implies changes to all the elements usually used for resetting) */
    background-color: #ffd23f;
    font-family: Helvetica;
}

body {
    min-height: 100 vh; 
}

p { /* Element Selector */
    font-size: 1rem;
    color: #001011;
    font-weight: 50;
    width: 40ch;
}

h1 {
    border: 2px dashed #001011;
    text-align: center;
    padding: 0.2em;
    width: 50%;
}