@import url("https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@500;700&family=Anek+Tamil:wght@500;700&family=Anek+Telugu:wght@500;700&family=Hind:wght@500;700&family=Inconsolata&family=Poppins:wght@300;400;600;700&display=swap");

/* Master */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.introduction {
  height: 120vh;
  display: flex;
  background-image: url(../Images/Wall.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  align-items: center;
  overflow: hidden;
}

.text {
  flex: 2.5;
  cursor: default;
  font-size: 1vw;
}

.nameContainer {
    height: 100vh;
    background-color: #3BCEAC;
    font-size: 6vw;
    cursor: default;
    color: #001011;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 100vh;
    align-items: baseline;
}

.role-1 {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 6vw;
    cursor: default;
    text-align: center;
    line-height: 100vh;
    background-color: #ffd23f;
    background-image: url('../Images/wave.svg');
    background-repeat: no-repeat;
    background-size: contain; /* or cover, depending on how you want to scale the image */
    background-position: center bottom;      
}

.role-2 {
    height: 100vh;
    font-size: 6vw;
    cursor: default;
    text-align: center;
    line-height: 100vh;
    background-color: #9DB4C0;
    font-family: 'Poppins', sans-serif;
    color: #001011;
}

/* Marquee Animation */

.marquee {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: red;
  overflow: hidden;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.marquee span {
  position: absolute;
  left: 100%;
  top: 0;
  white-space: nowrap;
  font-size: 20px;
  line-height: 30px;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

/* Content */

.text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.text-block {
  margin-top: 5%;
  margin-left: -80%;
  animation: slide-in 2s ease-in-out forwards;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3vw;
  padding: 1.5%;
  color: #001011;
}

.text-block:nth-child(1) {
  animation-delay: 0s;
  font-weight: 700;
}

.text-block:nth-child(2) {
  animation-delay: 0.25s;
  font-family: "Anek Kannada", sans-serif;
  font-weight: 700;
}

.text-block:nth-child(3) {
  animation-delay: 0.75s;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 700;
}

.text-block:nth-child(4) {
  animation-delay: 1.25s;
  font-family: "Anek Tamil", sans-serif;
  font-weight: 700;
}

.text-block:nth-child(5) {
  animation-delay: 1.5s;
  font-family: 'Hind', sans-serif;
  font-weight: 700;
}

@keyframes slide-in {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0;
  }
}
